body {
	margin: 0px;
	height: 100vh;
	font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
}

header a {
    color: black;
    padding: 10px;
    text-decoration: none;
}
  
nav a{
	margin-left: auto;
}

input {
    font-size: 16px;
    width: 300px;
    padding: 13px 0;
}

input:focus {
    outline: none;
}

input[type="text"] {
	color: #464646;
	margin: 0 0 0 5px;
}

input[type="submit"] {
	font-size: 14px;
	width: 185px;
	border-width: 0px;
	border-radius: 15px;
	margin: 20px;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 2px darkslategrey;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 90%;
}

.search-container .search-field {
	display: flex;
	flex-direction: row;
	border-radius: 25px;
	border: 1px solid black;
	align-items: center;
	margin: 10px;
	padding-left: 15px;
}

.search-container .search-field input {
	border: none;
	border-radius: 25px;
}